/* gallery.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFF;
    /* 山上云下-1-hex */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #FFFF;
    /* 山上云下-3-hex */
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
}

h1 {
    font-weight: 900;
    font-size: 2.5em;
    color: #0D0D0D;
    /* 山上云下-5-hex */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    border: none;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
    /* 山上云下-2-hex */
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    height: 500px;
    box-shadow: #0D0D0D;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #A4A5A6;
    /* 山上云下-4-hex */
    height: 600px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.card-info {
    height: 100px;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    background-color: #F2F2F2;
    /* 山上云下-2-hex */
    color: #0D0D0D;
    /* 山上云下-5-hex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover-text {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.full-description {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .hover-text {
    opacity: 0;
}

.card:hover .full-description {
    opacity: 1;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
    color: #0D0D0D;
    /* 山上云下-5-hex */
}

.pagination button:hover,
.pagination button:focus {
    outline: none;
    color: #0D0D0D;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: #0D0D0D;
    /* 山上云下-5-hex */
    font-style: italic;
    font-weight: 100;
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #FFFF;
    /* 山上云下-1-hex */
    color: #0D0D0D;
    /* 山上云下-5-hex */
}

form input[type="submit"] {
    background-color: #A4A5A6;
    /* 山上云下-4-hex */
    color: #0D0D0D;
    /* 山上云下-5-hex */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #F2F2F2;
    /* 山上云下-2-hex */
}

.image-container {
    width: 100%;
    height: auto;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen .card {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.fullscreen .image-container {
    width: 50%;
}

.fullscreen .card-info {
    width: 20%;
    padding-left: 200px;
    text-align: right;
    justify-self: right;
    
}